<!-- Navigation Bar -->
<!-- <div class="w3-top"> -->
<div class="w3-bar w3-xlarge">
  <div class="w3-display-container w3-content" style="max-width:1100px">
    <a routerLink="/" class="w3-bar-item logo"><!-- <b><i
          class="fa fa-map-marker w3-margin-right"></i>Logo</b> -->
          <img src="./assets/images/logo.png" alt="boat" style="width:140px;height:45px;">
        </a>
    <a href="#" class="w3-bar-item w3-button w3-right w3-hover-orange w3-text-grey"><i class="fa fa-search"></i></a>
  </div>
</div>
<!-- </div> -->
