<!-- Navigation Bar -->
<div class="navigation-container">
  <div class="top flex-center" [ngClass]="{'background-none': isNavBarTransparent}">
    <div class="bar-nav flex-space-between">
      <a routerLink="/home">
        <b><i class="fa fa-glass"></i></b>Take a Drink</a>
      <div (click)="togglePanel()" class="search-icon">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
  <div class="flex-center">
    <div class="search-menu flex-space-between" *ngIf="showSearchMenu$ | async">
      <div class="search-item">
        <select class="td-select" [(ngModel)]="selectedOption" (ngModelChange)="selectOption1($event)">
          <option *ngFor="let option of options" [ngValue]="option">
            {{ option.name }}
          </option>
        </select>
      </div>
      <div class="search-item">
        <input class="td-input" type="text" placeholder="Cokctail Name" *ngIf="showInput; else select"
          [(ngModel)]="selectedOption2" />
        <ng-template #select>
          <select class="td-select" [(ngModel)]="selectedOption2">
            <option *ngFor="let option of options2" [ngValue]="option.value">
              {{ option.value | titlecase }}
            </option>
          </select>
        </ng-template>
      </div>
      <div>
        <button class="w3-button w3-block w3-red" (click)="search()">
          Search
        </button>
      </div>
    </div>
  </div>
</div>

