.container {
  position: relative;
  width: 100vw; /* Maximum width */
  height: auto;
  margin: 0 auto; /* Center it */

  img {
    width:100%;
    height: auto;
  }

  .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: rgba(241, 241, 241, 0.7); /* Grey text */
    width: 100%; /* Full width */
    height: 100%;
    padding: 20px; /* Some padding */

    .title {
      font-size: 4.5vw;
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: auto; /* Maximum width */
    height: auto;
    overflow: hidden;

    img {
     width:800px;
    }

    .content {
      .title {
        font-size: 25px !important;
      }
    }
  }
}
