<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <div class="overlay"></div>
  <img class="w3-image" src="./assets/images/coctails.avif" alt="Architecture" width="1500" height="700">
  <div class="w3-display-middle w3-margin-top w3-center" style="z-index: 4;">
    <h1 class="w3-xxlarge w3-text-white">
      <!-- <span class="w3-padding w3-black w3-opacity-min"><b><i class="fa fa-glass"></i>  </b></span> -->
      <span class="w3-text-whhite">Take a drink with us</span>
    </h1>
  </div>
</header>
<div class="w3-content" style="max-width:1100px;">
  <!-- Page content -->
  <app-alcoholic-banner></app-alcoholic-banner>
  <hr>
  <app-non-alcoholic-banner></app-non-alcoholic-banner>
  <hr>
  <!-- Populars -->
  <pre><div>{{ random$|async | json }}</div></pre>
  <app-populars></app-populars>
</div>
